DATABASE_URL=postgresql://user:password@host:port/db_name
API_PREFIX=/api/v1
DEBUG=True
MAX_DB_RETRIES=3
RETRY_BACKOFF=0.5
GITHUB_TOKEN=
JWT_SECRET_KEY=your_super_secret_key_change_this_in_production
ACCESS_TOKEN_EXPIRE_MINUTES=120
CORS_ORIGINS=http://localhost:3000

# Mailgun Configuration
MAILGUN_API_URL="https://api.mailgun.net/v3/your-domain.com"
MAILGUN_API_KEY=your_mailgun_api_key
MAILGUN_NOTIFICATION_TEMPLATE_ID="your_notification_template_id"
MAILGUN_CONFIRMATION_TEMPLATE_ID="your_confirmation_template_id"

MAILGUN_FROM_EMAIL=noreply@your-domain.com
ADMIN_EMAIL=admin@your-domain.com

# # SendGrid Configuration (If using SendGrid instead of Mailgun)
# SENDGRID_API_KEY="your_sendgrid_api_key"
# SENDGRID_NOTIFICATION_TEMPLATE_ID="your_notification_template_id"
# SENDGRID_CONFIRMATION_TEMPLATE_ID="your_confirmation_template_id"

# Gemini Configuration
GEMINI_API_KEY="your_gemini_api_key"